source https://www.nuget.org/api/v2

storage: none
framework: net50

nuget coverlet.collector
nuget fakeiteasy
nuget fluentassertions
nuget Microsoft.NET.Test.Sdk
nuget System.Collections.Immutable
nuget xbehave
nuget xunit.runner.visualstudio